select{
    min-width: 150px;
}

.dragup {
    border: 1px solid #fed22f;
    background: #ffe45c 50% top repeat-x;
    color: #363636;
}

.list-height {
    min-height: 5em;
}

div.report {
    border: 1px;
}
ul.itemhead {
    text-align: center;
    border-top: 1px #faebd7;
    background-color: black;
}

ul.itemhead li{
    float: left;
    list-style-type: none;
    background-color: green;
    border-radius: 2px;
    padding: 3px;
    width: 300px;
    margin: 1px;
}

ul.item {
    background-color: #faebd7;
    text-align: center;
}

ul.item li {
    float: left;
    list-style-type: none;
    width: 300px;
    margin: 1px;
}